.page-selector-bar {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
	margin-top: 3rem;
	.page-selector-icon {
		padding: 0.3rem;
		margin: 0 7px;
		width: 24px;
		height: 24px;
		text-align: center;
		color: white;
		font-size: 1.5rem;
		line-height: 2.5rem;
		cursor: pointer;
		transition: 0.3s;
	}
	.page-selector-icon:hover,
	.page-selector-active {
		border: 1px solid var(--accent-color-1);
		transform: scale(1.2);
	}
	.page-selector-icon[data-disabled="true"] {
		opacity: 0.6;
		&:hover {
			border: none;
			transform: scale(1);
			cursor: default;
		}
	}
}
