.page-selector-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  max-width: 80%;
}

.page-selector-bar .page-selector-icon {
  padding: 0.3rem;
  margin: 0 7px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: var(--primary-text-color);
  font-size: 1.5rem;
  line-height: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.page-selector-bar .page-selector-icon:hover,
.page-selector-bar .page-selector-active {
  border: 1px solid var(--accent-color-1);
  transform: scale(1.2);
}

.page-selector-bar .page-selector-icon[data-disabled="true"] {
  opacity: 0.6;
}

.page-selector-bar .page-selector-icon[data-disabled="true"]:hover {
  border: none;
  transform: scale(1);
  cursor: default;
}
