:root {
	--columns: 5;
	--gap: 10px;
	--gap: 10px;
	--accent-color-1: hsl(198deg 85% 46%);
	--accent-color-2: hsl(46deg 96% 54%);
	--accent-color-3: hsl(329deg 78% 55%);
	--primary-text-color: rgb(240, 240, 240);
	--secondary-text-color: rgb(49, 49, 49);
	--primary-background-color: hsl(231deg 10% 14%);
	--secondary-background-color: hsl(252deg 12% 17%);
	--card-background-color: linear-gradient(
		116.014deg,
		#273034 21.573%,
		#2a3135 80.242%
	);
}

html {
	font-size: calc(4px + 0.30834vw);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--primary-background-color);
	min-height: 100vh;
}
body::-webkit-scrollbar {
	width: 8px;
	background-color: #2b2b2b;
}
body::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: rgb(83, 83, 83);
}
h2 {
	font-size: 2.5rem;
	color: var(--primary-text-color);
}

* {
	padding: 0;
	margin: 0;
	position: relative;
	font-size: 1.2rem;
	user-select: none;
}

.icon {
	cursor: pointer;
}

.fade-in {
	animation: fade-in 1s;
}
.fade-in-vertical {
	animation: fade-in-v-ext 1s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in-v-ext {
	0% {
		max-height: 0px;
		opacity: 0;
	}
	100% {
		max-height: 2000px;
		opacity: 1;
	}
}
