.channel-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 2rem;
  background: linear-gradient(116.014deg, #273034 21.573%, #2a3135 80.242%);
  border-radius: 5%;
  max-height: 200px;
}

.channel-card:hover {
  box-shadow: 0 0px 20px 10px rgba(129, 129, 129, 0.2), 0 10px 10px rgba(129, 129, 129, 0.22);
}

.channel-card-selected {
  box-shadow: 0 1px 3px var(--accent-color-1), 0 1px 2px var(--accent-color-1);
}

.channel-name {
  font-size: 1.8rem;
  color: white;
  animation: fade-in 2s;
}

.channel-banner-container {
  width: 100%;
  min-height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s;
}

.channel-banner-image {
  width: 100%;
}

.flag {
  width: 24px;
  height: 24px;
  animation: fade-in 2s;
}

.flag img {
  width: 100%;
  height: 100%;
}

.card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selected-checkbox {
  padding: 1rem;
  font-size: 1.4rem;
  color: white;
  border: 1px solid var(--accent-color-2);
  transition: 0.3s;
  cursor: pointer;
  animation: fade-in 2s;
}

.channel-selected-active {
  background: var(--accent-color-2);
}

svg polygon {
  stroke: var(--accent-color-2);
}
